@model IEnumerable<Yemekler>
@{
    ViewData["Title"] = "Yemekler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row text-center">
    <div class="col">
        <h1 class="display-4">
            @ViewData["Title"]
        </h1>
    </div>
</div>


<div class="row mb-3">
    <div class="col">
        <a class="btn btn-primary btn-sm" asp-action="CreateYemek"><i class="fa fa-plus me-2"></i>Yeni Yemek Ekle</a>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Yemeğin Adı</th>
                    <th>Yemeğin Kategorisi</th>
                    <th>Yemeğin Tarifi</th>
                    <th>Güncelleme Tarihi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var yemek in Model)
                {
                        <tr>
                            <td>@yemek.yemekIsmi</td>
                            <td>@yemek.yemeginKategorisi</td>
                            <td>@yemek.YemekTarifi</td>
                            <td>@yemek.CreatedAt</td>
                            <td>
                                <a asp-action="EditYemek" asp-route-id="@yemek.id" class="btn btn-info btn-sm"><i class="fa fa-edit me-2"></i>Düzenle</a>
                                <a asp-action="DeleteYemek" asp-route-id="@yemek.id" onclick="return confirm('Yemeği silmek istediğinden emin misin : @yemek.yemekIsmi ?')" class="btn btn-danger btn-sm"><i class="fa fa-trash me-2"></i>Sil</a>

                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>



