@model IEnumerable<UserModel>
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row text-center">
    <div class="col">
        <h1 class="display-4">
            @ViewData["Title"]
        </h1>
    </div>
</div>


<div class="row mb-3">
    <div class="col">
        <a class="btn btn-primary btn-sm" asp-action="CreateUser"><i class="fa fa-plus me-2"></i>Yeni Kullanıcı</a>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>CreatedAt</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.CreatedAt</td>
                        <td>@user.Role</td>
                        <td>
                            <a asp-controller="User" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-info btn-sm"><i class="fa fa-edit me-2"></i>Düzenle</a>
                            <a asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.Id" onclick="return confirm('Kullanıcıyı silmek istediğinden emin misin : @user.Username ?')" class="btn btn-danger btn-sm"><i class="fa fa-trash me-2"></i>Sil</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

